{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">

<style>

</style>
</head>
<body>
<div class="box fadeInDown">
    <button class="btn btn-primary"><a href="{% url 'register' %}">REGISTER</a></button>
    <button class="btn btn-primary"><a href="{% url 'login' %}">LOGIN</a></button>
</div>

</body>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>